body {
  font-family: Helvetica;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: white;
}


.back {

  background-image: url("./sources/the-flatiron-building.png");
  font-weight: bold;
  color: white;
  text-align: center;

}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 14px;
  text-align: center;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color:white;
  text-align: left;
}

.footer p {
  background-color: dimgray;
  font-size: 11px;
  color:white;
  text-align: left;

}
